.italic {
  font-style: italic;
}
.book-number {
  font-size: 2em;
  letter-spacing: 0.2em;
  text-align: center;
  margin-bottom: 0;
}

.dot1 {
  height: 15px;
  width: 15px;
  background-color: #f3c623;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}
.dot1_text {
  color: #f3c623;
  margin-bottom: 0;
}
.dot2 {
  height: 15px;
  width: 15px;
  background-color: #d63447;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}
.dot2_text {
  color: #d63447;
  margin-bottom: 0;
}
.dot3 {
  height: 15px;
  width: 15px;
  background-color: #84a9ac;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}
.dot3_text {
  color: #84a9ac;
  margin-bottom: 0;
}
.dot4 {
  height: 15px;
  width: 15px;
  background-color: #844685;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}
.dot4_text {
  color: #844685;
  margin-bottom: 0;
}
.dot5 {
  height: 15px;
  width: 15px;
  background-color: #cfd186;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}
.dot5_text {
  color: #cfd186;
  margin-bottom: 0;
}
.setting_text1 {
  background-color: #f3c623;
  color: white;
  padding: 0 8px;
}
.setting_text2 {
  background-color: #d63447;
  color: white;
  padding: 0 8px;
}
.setting_text3 {
  background-color: #84a9ac;
  color: white;
  padding: 0 8px;
}
.setting_text4 {
  background-color: #844685;
  color: white;
  padding: 0 8px;
}
.setting_text5 {
  background-color: #cfd186;
  color: white;
  padding: 0 8px;
}

.image_text {
  margin-top: 10px;
  font-style: italic;
}

header.special p.image_text {
  padding-top: 0;
}

@media screen and (min-width: 610px) {
  .image.featured {
    width: 500px;
    display: block;
    margin: 0 auto;
  }
  .featured_side {
    width: 90%;
    display: block;
    margin: 0 auto;
  }
}
@media screen and (max-width: 609px) {
  .image.featured {
    width: 92%;
    display: block;
    margin: 0 auto;
  }
  .featured_side {
    width: 90%;
    display: block;
    margin: 0 auto;
  }
}

@media screen and (min-width: 601px) {
  #description_video {
    width: 600px;
    display: block;
    margin: 0 auto;
  }
  .narrow-width {
  	width: 600px;
  	margin: 0 auto;
  }
}
@media screen and (max-width: 601px) {
  .narrow-width {
  	width: 92%;
  	margin: 0 auto;
  }
  #description_video {
    width: 92%;
    display: block;
    margin: 0 auto;
  }
}

[id]::before {
  content: '';
  display: block;
  height: 75px;
  margin-top: -75px;
  visibility: hidden;
}
#book1-title::before, #book1-title::after, #book2-title::before, #book2-title::after, #book3-title::before, #book3-title::after, #book4-title::before, #book4-title::after, #book5-title::before, #book5-title::after, #book6-title::before, #book6-title::after, #book7-title::before, #book7-title::after {
  height: 0px;
  margin-top: 0px;
  visibility: visible;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  text-transform: none !important;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  line-height: inherit;
}

#video-bilibili::before, #video-bilibili::after, #bullet-screen-comments::before, #bullet-screen-comments::after, #bottom-comments::before, #bottom-comments::after {
  height: 0px;
  margin-top: 0px;
  visibility: visible;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  text-transform: none !important;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  line-height: inherit;
}

.main_character {
  text-align: center;
  color: #f3c623;
}
.cta h2{
  margin-bottom: 0.35em;
}
